streamlit
openai
PyMuPDF
tqdm
langchain==0.1.17
langchain-groq==0.0.1
langchain-text-splitters==0.0.1
faiss-cpu==1.7.4
sentence-transformers==2.2.2
python-dotenv
pydantic
fpdf
pyperclip
numpy==1.25.2
transformers==4.33.2

