streamlit
openai
PyMuPDF
tqdm
langchain==0.1.17
langchain-community==0.0.36
langchain-groq==0.0.1
langchain-text-splitters==0.0.1
faiss-cpu
sentence-transformers
python-dotenv
pydantic
fpdf
pyperclip
numpy==1.26.4
